@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: Cabinet;
    src: url(Tipos/CabinetGrotesk-Variable.woff2) format(woff2),
    url(Tipos/CabinetGrotesk-Variable.woff) format(woff);
}


*{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: Poppins, Montserrat, sans-serif;
    background-color: #01051e;
    overflow-x: hidden;
}

html{
    overflow-x: hidden;
}

img{
    width: 100%;
}

a{
    text-decoration: none;
}


header span.blur:nth-child(3){
    position: absolute;
    box-shadow: 0 100px 1000px 400px #0048ff28;
    bottom: 80%;
    left: 95%;
    z-index: -999;
}

header span.blur:nth-child(4){
    position: absolute;
    box-shadow: 0 100px 1000px 250px #0048ff57;
    bottom: 90%;
    left: 0;
    z-index: -999;
}

header span.blur:nth-child(5){
    position: absolute;
    box-shadow: 0 100px 1000px 250px #0048ff57;
    bottom: 70%;
    left: 20%;
    z-index: -999;
}

header span.blur:nth-child(6){
    position: absolute;
    box-shadow: 0 100px 1000px 200px #0048ff57;
    bottom: 50%;
    left: 40%;
    z-index: -999;
}

header span.blur:nth-child(7){
    position: absolute;
    box-shadow: 0 100px 1000px 200px #0048ff57;
    bottom: 30%;
    left: 60%;
    z-index: -999;
}

/**/

.container__lentes span.blur:nth-child(3){
    position: absolute;
    box-shadow: 0 100px 1000px 450px #0048ff7d;
    bottom: 50%;
    left: 50%;
    z-index: -999;
}

.container__lentes span.blur:nth-child(4){
    position: absolute;
    box-shadow: 0 100px 1000px 200px #0048ff5f;
    bottom: 80%;
    left: 100%;
    z-index: -999;
}

.container__lentes span.blur:nth-child(5){
    position: absolute;
    box-shadow: 0 100px 1000px 400px #0048ff25;
    bottom: 0;
    left: 0;
    z-index: -999;
}

.container__carac span.blur:nth-child(2){
    position: absolute;
    box-shadow: 0 0px 1000px 600px #0048ff3e;
    bottom: 50%;
    left: 50%;
    z-index: -999;
}

.container__galeria span.blur:nth-child(3){
    position: absolute;
    box-shadow: 0 0px 1000px 200px #0048ff72;
    bottom: 100%;
    left: 10%;
    z-index: -999;
}

.container__galeria span.blur:nth-child(4){
    position: absolute;
    box-shadow: 0 0px 1000px 300px #0048ff72;
    bottom: 100%;
    left: 80%;
    z-index: -999;
}

.container__galeria span.blur:nth-child(5){
    position: absolute;
    box-shadow: 0 0px 1000px 200px #0048ff4b;
    bottom: 0;
    left: 70%;
    z-index: -999;
}

.container__galeria span.blur:nth-child(6){
    position: absolute;
    width: 800px;
    height: 90px;
    background: #3955ff; /* o un gradiente */
    filter: blur(90px);
    bottom: 50%;
    left: 30%;
    transform: rotate(45deg);
    opacity: 1;
    z-index: -999;
}

.container_acc span.blur:nth-child(2){
    position: absolute;
    box-shadow: 0 0px 1000px 400px #0048ff38;
    bottom: 10%;
    left: 0;
    z-index: -999;
}

.container_carrusel span.blur:first-child{
    position: absolute;
    box-shadow: 0 0px 1000px 300px #0048ff66;
    bottom: 10%;
    left: 10%;
    z-index: -999;
}

.container_carrusel span.blur:nth-child(2){
    position: absolute;
    box-shadow: 0 0px 1000px 300px #0048ff3e;
    bottom: 40%;
    left: 60%;
    z-index: -999;
}


/*NAV*/

.nav__logo{
    width: 100px;
}

.nav__menu{
    position: fixed;
    z-index: 999;
    margin: auto;
    width: 100%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    box-sizing: border-box;
    
    background-color: #b7b6ff07;
    backdrop-filter: blur(2px);
    box-shadow: 1px 1px 1px rgba(88, 127, 255, 0.081);
}

.nav__center{
    background-color: #ffffff99;
    padding: 1rem 2rem;
    border-radius: 12px;
}

.glass__container{
    background-color: #b7b6ff11;
    padding: 1rem .6rem;
    border-radius: 99px;
    backdrop-filter: blur(5px);
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    border-left: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 1px 1px 1px rgb(88, 127, 255, 0.4);
}

.glass{
    background-color: #b7b6ff11;
    padding: 1rem 2rem;
    border-radius: 99px;
    backdrop-filter: blur(5px);
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    border-left: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 1px 1px 1px rgb(88, 127, 255, 0.4);
}

.nav__menu ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 0rem;
}

.nav__menu ul li a{
    font-size: 14px;
    color: #8b8b8b;
    font-weight: 500;
    transition: color .5s ease;
    margin-right: 1rem;
    margin-left: 1rem;

    background-color: transparent;
    padding: 10px 16px;
    margin: 0;
    border-radius: 50px;
    border: 1px solid transparent;

    transition: all .5s ease;
}

.nav__center .fa-solid{
    font-size: 14px;
}

.nav__menu ul li a:hover{
    color: #fff;
}

.nav__menu ul li:first-child{
    border-radius: 900px;
}

.nav__link.active{
    color: #fff;
    /*border-bottom: #0048ff;
    border-style: solid;
    border-width: 2px;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;*/
    background-color: #0048ff;
    padding: 10px 16px;
    margin: 0;
    border-radius: 50px;
    border: 1px solid #3971ff;
    box-shadow: 0px 0px 50px #0048ff94;
}

/*@media (max-width:1000px){
    .nav__center{
        display: none;
    }
}*/

.nav__toggle{
    display: none;
    cursor: pointer;
    flex-direction: column;
    gap: 5px;
}

.nav__toggle span{
    height: 3px;
    width: 25px;
    background-color: #fff !important;
    border-radius: 2px;
    transition: .3s;
}

@media screen and (max-width: 800px) {
    .nav__menu {
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 1rem;
    width: 100vw;
    }

    .nav__logo img{
        max-width: 100%;
        height: auto;
    }

    .nav__center {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: #ffffffee;
    padding: 1rem;
    border-radius: 0;
    display: none;
    flex-direction: column;
    }

    .nav__menu.open .nav__center {
    display: flex;
    }

    .nav__menu ul {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 0.5rem;
    }

    .nav__menu ul li a {
    color: #000;
    width: 100%;
    font-size: 16px;
    padding: 12px 16px;
    margin: 0;
    }

    .nav__menu .btn {
    display: none;
    }

    .nav__toggle {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    }

    .nav__toggle span {
    width: 25px;
    height: 3px;
    background-color: #0048ff;
    border-radius: 2px;
    }

    .nav__link.active {
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
    color: #000 !important;
    }
}



.btn{
    padding: 1rem 1.7rem;
    border-radius: 99px;
    background-color: #0048ff;
    color: #fff;
    font-family: Poppins;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    border: #0048ff 1px solid;
    transition: all .5s ease;
    backdrop-filter: blur(5px);
    box-shadow: 0px 0px 150px #0048ff;
}

.btn:hover{
    background-color: #0048ff66;
}

.btn2{
    padding: 1rem 1.7rem;
    border-radius: 99px;
    background-color: #0048ff66;
    color: #fff;
    font-family: Poppins;
    font-weight: 300;
    font-size: 14px;
    cursor: pointer;
    transition: all .5s ease;
    
    background-color: #b7b6ff11;
    padding: 1rem 2rem;
    border-radius: 99px;
    backdrop-filter: blur(5px);
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    border-left: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0px 0px 150px #000000;
}

header .btn2{
    margin-left: 1rem;
}

.btn2:hover{
    background-color: #2e42b36b;

}



/*HEADER*/

.container{
    position: relative;
    scroll-margin-top: 75px;
    padding: 2rem 12%;
    height: 100vh;
    margin-top: 25px;
}

header{
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    align-items: center;
    gap: 2rem;
    height: 100vh;
}

.content{
    position: relative;
    top: 25px;
}

.content h1{
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 200;
    margin-bottom: 2rem;
    display: inline-block;
    color: #fff;
}

.content h4{
    color: #fff;
    font-size: 80px;
    font-family: Cabinet;
    font-weight: 700;
    line-height: 75px;
    max-width: 550px;
    margin-bottom: 2rem;
}

.content p{
    color: #ccc;
    font-family: Poppins;
    font-weight: 300;
    font-size: 14px;
    max-width: 550px;
    margin-bottom: 2rem;
}

.objetos-flotantes{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .img{
    max-width: 550px;
    min-width: 300px;
    justify-self: center;
}

.objetos-flotantes img:first-child{
    position: absolute;
    max-width: 160px;
    top: -40px;
    left: -20px;
    z-index: -1;
}

.objetos-flotantes img:nth-child(2){
    position: absolute;
    max-width: 160px;
    bottom: -90px;
    left: -60px;
    z-index: -1;
}

.objetos-flotantes img:nth-child(3){
    position: absolute;
    max-width: 170px;
    bottom: -20px;
    right: -20px;
    z-index: -1;
}

@media (max-width: 1500px){
    .content h4{
        font-size: 60px;
        line-height: 55px;
    }

    .container .img{
        max-width: 450px;
    }
    .objetos-flotantes img:first-child{
        max-width: 131px;
    }
    .objetos-flotantes img:nth-child(2){
        max-width: 131px;
    }
    .objetos-flotantes img:nth-child(3){
        max-width: 140px;
    }
}

@media (max-width: 1024px){
    header{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        align-items: center;
        gap: 2rem;
        height: 100vh;
    }
    .container{
        padding: 2rem 12%;
    }
}

@media screen and (max-width: 800px) {
    .container{
        padding: 20px;
    }
    .objetos-flotantes{
        align-self: flex-start;
    }
    .content h1{
    margin-bottom: 1rem;
    }
    .content h4{
        margin-bottom: 1rem;
    }
    .content p{
        margin-bottom: 1rem;
    }
}

/*LENTES*/

.container__lentes{
    position: relative;
    height: auto;
    padding: 2rem 12%;
}

.Data_1{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 140px;
    gap: 2rem;
    margin-bottom: 40px;
}

.Volanta_Titulo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Volanta_Titulo h4{
    color: #fff;
    font-size: 15px;
    font-weight: 200;
}

.Volanta_Titulo h2{
    color: #fff;
    font-size: 50px;
    font-family: Cabinet;
    font-weight: 700;
    line-height: 50px;
}

.Bajada_Btn{
    grid-column: 3 / 5 ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Bajada_Btn p{
    color: #ccc;
    font-family: Poppins;
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 0rem;
    max-width: 380px;
}


/*CARDS LENTES*/

.cards_lentes{
    display: grid;

}

.tarjetas{
    width: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 25px;
}

.tarjetas div{
    border-radius: 20px;
}

.cuadro{
    position: relative;
    aspect-ratio: 16 / 9;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 25px;
    padding: 1.5rem;
    min-width: 0;
}

.img_bolas_1{
    position: absolute;
}

.img_bolas_2{
    position: absolute;
}

.img_bolas_3{
    position: absolute;
}

.img_bolas_4{
    position: absolute;
}

.cuadro_dentro{
    aspect-ratio: 1 / 1;
    position: relative;
    overflow: hidden;    
}

.img_lentes_1{
    width: 95%;
    height: 95%;
    object-fit: contain;
    position: absolute;
    left: 5;
    top: 30px;
}

.img_lentes_2{
    width: 115%;
    height: 115%;
    object-fit: contain;
    position: absolute;
    left: -20px;
    top: 15px;
}

.img_lentes_3{
    width: 115%;
    height: 115%;
    object-fit: contain;
    position: absolute;
    left: 10px;
    top: -10px;
}

.img_lentes_4{
    width: 95%;
    height: 95%;
    object-fit: contain;
    position: absolute;
    left: 20;
    top: 20px;
}

.data_dentro{
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: flex-end;
}

.data_dentro h3{
    font-family: Cabinet;
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    line-height: 30px;
    max-width: 250px;
}

.data_dentro p{
    color: #ccc;
    font-size: 14px;
    line-height: 17px;
}



.fa-arrow-right-long{
    margin-left: 5%;
}

@media (max-width: 1430px){
    .data_dentro h3{
        font-size: 25px;
        line-height: 24px;
    }

    .data_dentro p{
        font-size: 12px;
        line-height: 15px;
    }
    .data_dentro button{
        padding: 1rem 1rem;
    }
}

@media (max-width: 1290px){
    .tarjetas{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    .data_dentro h3{
        font-size: 30px;
        line-height: 30px;
    }
    .data_dentro p{
        font-size: 14px;
        line-height: 17px;
    }
}

@media (max-width: 1000px) {
    .Bajada_Btn p{
        font-size: 12px;
        margin-bottom: 1rem;
        max-width: 380px;
    }
}

@media screen and (max-width: 800px){
    .container__lentes{
        padding: 20px;
    }
}

@media screen and (max-width: 540px){
    .Bajada_Btn p{
        display: none;
    }
    .cuadro{
        gap: 12px;
        padding: 12px;
    }
    .data_dentro{
    gap: 12px;
}
    .data_dentro h3{
        font-size: 24px;
        line-height: 24px;
    }
    .data_dentro p{
        font-size: 12px;
        line-height: 15px;
    }
}

/*CARAC*/

.container__carac{
    position: relative;
    padding: 2rem 12%;
    align-items: center;
    height: auto;
    margin-top: 10%;
    z-index: 2;
}
.container_bento{
    aspect-ratio: 9 / 9;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: 25px;
}

.container_bento div{
    border-radius: 25px;
}

.video-fondo-1{
    position: relative;
    width: 100%;
    overflow: hidden;
}

.video-fondo-1 video{
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    width: 320%;
    object-fit: contain;
}

.video-fondo-2{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.video-fondo-2 video{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 102%;
    object-fit: contain;
}

.video-fondo-3{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.video-fondo-3 video{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 102%;
    object-fit: contain;
}

.video-fondo-4{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.video-fondo-4 video{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 102%;
    object-fit: contain;
}

.container_bento div:first-child{
    grid-column: 1 / 3;
    grid-row: 1 / 5;
}

.container_bento div:nth-child(2) {
    grid-column: 3 / 5;
    grid-row: 1 / 3;
}

.container_bento div:nth-child(3) {
    grid-column: 3 / 5;
    grid-row: 3 / 5;
}

.container_bento div:nth-child(4) {
    grid-column: 1 / 2;
    grid-row: 5 / 8;
    background-image: url(Img/Bento4.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 2;
}

.container_bento div:last-child {
    grid-column: 2 / 5;
    grid-row: 5 / 8;
}

.video-fondo-1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-fondo-1 .info-carac{
    position: relative;
    z-index: 3;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.video-fondo-1 .info-carac h5{
    font-size: 30px;
    line-height: 30px;
}

.video-fondo-1 .info-carac h4{
    font-size: 40px;
}

.video-fondo-4{
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-fondo-4 .info-carac{
    position: relative;
    z-index: 3;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    align-self: center;
    justify-self: center;
}

.video-fondo-4 .info-carac h5{
    font-size: 30px;
    line-height: 30px;
}

.video-fondo-4 .info-carac h4{
    font-size: 30px;
}


@media screen and (max-width:1000px){
    .container_bento{
        gap: 15px;
    }
}

@media screen and (max-width:800px){
    .container__carac{
        padding: 20px;
    }
    .container_bento{
        gap: 12px;
    }
}

@media screen and (max-width: 600px){
    .container_bento{
        display: flex;
        flex-direction: column;
        aspect-ratio: auto;
    }
    .container_bento div{
        width: 100%;
        aspect-ratio: 16/9;
        grid-column: auto !important;
        grid-row: auto !important;
    }
    .container_bento div:first-child{
        aspect-ratio: 7/8;
    }
    .container_bento div:nth-child(2){
        aspect-ratio: 16/9;
    }
    .container_bento div:nth-child(3){
        aspect-ratio: 16/9;
    }
    .container_bento div:nth-child(4){
        aspect-ratio: 3/5;
    }
}


/*GALERIA*/

.container__galeria{
    position: relative;
    height: auto;
    padding: 2rem 12%;
    align-content: center;
    margin-top: 10%;
    /*background-color: #011159;*/
    background-image: url(Img/fondo-galeria.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /*background-position-x: -600px;
    background-position-y: -200px;*/
    z-index: 2;
}

.data_2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin-top: 50px;
}

.titulo_galeria{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.titulo_galeria h2{
    color: #000;
    font-size: 50px;
    font-family: Cabinet;
    font-weight: 700;
    line-height: 50px;
}

.bajada_galeria p{
    color: #333;
    font-family: Poppins;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 1rem;
    max-width: 400px;
}

.cards_galeria{
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    margin-bottom: 30px;
}

.cards_galeria div{
    width: 100%;
    aspect-ratio: 9 / 11;
    border-radius: 25px;
}


.cards_galeria div:first-child{
    margin-top: 5%;
    align-self: flex-start;
}

.cards_galeria div:nth-child(2){
    margin-bottom: 10%;
    align-self: flex-start;
}

.cards_galeria div:nth-child(3){
    margin-top: 10%;
    align-self: flex-start;
}

.cards_galeria div:nth-child(4){
    margin-top: 5%;
    align-self: flex-start;
}

.cuadro_galeria{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: flex-start;
    padding: 6px 15px 20px 15px;
}

.cuadro_galeria h6{
    color: #fff;
    font-size: 20px;
    font-weight: 400;
}

.cuadro_dentro_galeria{
    aspect-ratio: 5 /6;
    position: relative;
    overflow: hidden;
    margin-bottom: 10%;
    margin-top: 0px;
}


.img_galeria_1{
    width: 101%;
    height: 101%;
    object-fit: cover;
    position: absolute;
    left: 0px;
    top: 0px;
    transition: all .3s ease;
}

.img_galeria_1:hover{
    width: 111%;
    height: 111%;
    left: -13px;
    top: -13px;
}

.img_galeria_2{
    width: 101%;
    height: 101%;
    object-fit: cover;
    position: absolute;
    left: 0px;
    top: 0px;
    transition: all .3s ease;
}

.img_galeria_2:hover{
    width: 111%;
    height: 111%;
    left: -13px;
    top: -13px;
}

.img_galeria_3{
    width: 101%;
    height: 101%;
    object-fit: cover;
    position: absolute;
    left: 0px;
    top: 0px;
    transition: all .3s ease;
}

.img_galeria_3:hover{
    width: 111%;
    height: 111%;
    left: -13px;
    top: -13px;
}

.img_galeria_4{
    width: 101%;
    height: 101%;
    object-fit: cover;
    position: absolute;
    left: 0px;
    top: 0px;
    transition: all .3s ease;
}

.img_galeria_4:hover{
    width: 111%;
    height: 111%;
    left: -13px;
    top: -13px;
}


/*ACC*/

.container_acc{
    position: relative;
    height: auto;
    padding: 2rem 10%;
    align-content: center;
    margin-top: 20%;
    margin-bottom: 15%;
}

.data_3{
    height: auto;
    border-radius: 25px;
    padding: 80px;
    position: relative;
    display: flex;
    align-items: center;
}

.data_3.glass{
    background-color: #0048ff4f;
    backdrop-filter: blur(5px);
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    border-left: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 1px 1px 1px rgb(88, 127, 255, 0.4);
}

.img_acc{
    position: absolute;
    bottom: 0;
    right: 90px;
    max-width: 550px;
}

.container_data_acc{
    margin-left: 5%;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.data_3 h4{
    color: #fff;
    font-size: 50px;
    font-family: Cabinet;
    font-weight: 700;
    line-height: 50px;
    max-width: 400px;
}

.data_3 p{
    color: #ccc;
    font-family: Poppins;
    font-weight: 300;
    font-size: 14px;
    max-width: 400px;
}

.container_data_acc button{
    align-self: flex-start;
}

@media (max-width: 1400px){
    .img_acc{
        right: 10px;
        max-width: 500px;
    }
}

@media (max-width: 1200px){
    .img_acc{
        right: 5px;
        max-width: 400px;
    }
    .container_data_acc{
        margin-left: 0;
    }
}

@media (max-width: 1000px){
    .img_acc{
        right: 10px;
        max-width: 400px;
        display: none;
    }
    .data_3{
        justify-content: center;
    }
    .container_data_acc{
        margin-left: 0;
        align-items: center;
    }
    .container_data_acc button{
        align-self: start;
    }
}

@media screen and (max-width: 800px) {
    .container_acc{
        padding: 20px;
    }
}

@media screen and (max-width: 540px){
    .data_3 h4{
        font-size: 40px;
        line-height: 42px;
    }
    .data_3{
        padding: 40px;
    }
}


/*ACC 222*/


.container_carrusel_galeria{
    position: relative;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 10%;
    margin-top: 10%;
    margin-bottom: 15%;
    background-image: url(Img/fondo-galeria.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 2;
}

.titulo-btn-swipe{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 25px;
}

.titulo_gal2{
    color: #000;
    font-size: 50px;
    font-family: Cabinet;
    font-weight: 700;
    line-height: 50px;
    max-width: 500px;
}

.btn-swipe{
    display: flex;
    align-items: flex-end;
    gap: 10px;
}

.container_carrusel_galeria .swiper-navBtn{
    position: static;
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-color: #0048ff;
    transition: background-color .3s ease;
}

.swiper-navBtn::before,
.swiper-navBtn::after{
    font-size: 10px;
}

.swiper-button-next{
    border: #0048ff 1px solid;
    box-shadow: 0px 0px 50px #0048ff;
    transition: background-color .3s ease;
}

.swiper-button-next:hover{
    background-color: #0048ff66;
}

.swiper-button-prev{
    border-radius: 25px;
    background-color: #b7b6ff11;
    backdrop-filter: blur(5px);
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    border-left: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 1px 1px 1px rgb(88, 127, 255, 0.4);
    transition: background-color .3s ease;
}

.swiper-button-prev:hover{
    background-color: #2e42b36b;
}

.slide-container{
    width: 100%;
    background-color: transparent;
    padding: 40px 0;
}

.slide-content{
    margin: 0 0px;
    overflow: hidden;
    border-radius: 25px;
}

.card-gal{
    border-radius: 25px;
    background-color: #b7b6ff11;
    backdrop-filter: blur(5px);
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    border-left: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 1px 1px 1px rgb(88, 127, 255, 0.4);
}


.image-content-gal{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5px;
    padding: 0;
}

.card-content-gal{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 18px 18px 18px;
}

.container_carrusel_galeria .name{
    color: #fff;
    font-family: Cabinet;
    font-size: 26px;
    line-height: 22px;
    font-weight: 500;
    text-align: left;
}

.card-image-gal{
    position: relative;
    background-color: transparent;
    padding: 18px 18px;
}

.card-image-gal{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50px;
    border: 1px solid transparent;
}

.card-img-gal{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50px;
    aspect-ratio: 5/6;
    position: relative;

    border-radius: 25px;
    background-color: #b7b6ff11;
    backdrop-filter: blur(5px);
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    border-left: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 1px 1px 1px rgb(88, 127, 255, 0.4);
}


.star-prize{
    padding: 10px 18px;
    display: flex;
    justify-content: space-between;
}

.fa-star{
    color: #f59261;
}

.prize{
    color: #fff;
    font-size: 20px;
}

.swiper-pagination-bullet{
    background-color: #0048ff;
    opacity: 1;
}

.swiper-pagination-bullet-active{
    background-color: #497dff;
}

@media screen and (max-width: 768px) {
    .slide-content{
        margin: 0 0px;
    }
    .swiper-navBtn{
        display: none;
    }
}

/*ACC 222*/


.container_carrusel{
    position: relative;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 10%;
    margin-top: 10%;
    margin-bottom: 15%;
}

.titulo-btn-swipe{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 25px;
}

.titulo_acc2{
    color: #fff;
    font-size: 50px;
    font-family: Cabinet;
    font-weight: 700;
    line-height: 50px;
    max-width: 500px;
}

.btn-swipe{
    display: flex;
    align-items: flex-end;
    gap: 10px;
}

.swiper-navBtn{
    position: static;
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-color: #0048ff;
    transition: background-color .3s ease;
}

.swiper-navBtn::before,
.swiper-navBtn::after{
    font-size: 10px;
}

.swiper-button-next{
    border: #0048ff 1px solid;
    box-shadow: 0px 0px 50px #0048ff;
    transition: background-color .3s ease;
}

.swiper-button-next:hover{
    background-color: #0048ff66;
}

.swiper-button-prev{
    border-radius: 25px;
    background-color: #b7b6ff11;
    backdrop-filter: blur(5px);
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    border-left: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 1px 1px 1px rgb(88, 127, 255, 0.4);
    transition: background-color .3s ease;
}

.swiper-button-prev:hover{
    background-color: #2e42b36b;
}

.slide-container{
    width: 100%;
    background-color: transparent;
    padding: 40px 0;
}

.slide-content{
    margin: 0 0px;
    overflow: hidden;
    border-radius: 25px;
}

.card{
    border-radius: 25px;
    background-color: #b7b6ff11;
    backdrop-filter: blur(5px);
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    border-left: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 1px 1px 1px rgb(88, 127, 255, 0.4);
}

.volanta_acc{
    padding: 25px 0px 5px 0px;
    margin-left: 18px;
    margin-right: 18px;
    color: #ccc;
    font-size: 12px;
    border-bottom: 1px solid #475ad1;
}

.image-content{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5px;
    padding: 0;
}

.card-content{
    display: flex;
    flex-direction: column;
    padding: 0px 18px 18px 18px;
}

.name{
    color: #fff;
    font-family: Cabinet;
    font-size: 22px;
    line-height: 22px;
    font-weight: 500;
    white-space: pre-wrap;
    text-align: left;
}

.card-image{
    position: relative;
    background-color: transparent;
    padding: 10px 18px;
}

.card-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50px;
    border: 1px solid transparent;
}

.card-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50px;

    border-radius: 25px;
    background-color: #b7b6ff11;
    backdrop-filter: blur(5px);
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    border-left: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 1px 1px 1px rgb(88, 127, 255, 0.4);
}


.star-prize{
    padding: 10px 18px;
    display: flex;
    justify-content: space-between;
}

.fa-star{
    color: #f59261;
}

.prize{
    color: #fff;
    font-size: 20px;
}

.swiper-pagination-bullet{
    background-color: #0048ff;
    opacity: 1;
}

.swiper-pagination-bullet-active{
    background-color: #497dff;
}

@media screen and (max-width: 768px) {
    .slide-content{
        margin: 0 0px;
    }
    .swiper-navBtn{
        display: none;
    }
}

@media screen and (max-width: 800px){
    .container_carrusel{
        padding: 20px;
    }
}

@media screen and (max-width: 800px){
    .container_carrusel_galeria{
        padding: 20px;
    }
}

@media screen and (max-width: 540px){
    .titulo_acc2{
        font-size: 40px;
        line-height: 42px;
    }
}

@media screen and (max-width: 540px){
    .titulo_gal2{
        font-size: 40px;
        line-height: 42px;
    }
}


/*FOOTER*/

.container_footer{
    width: 100%;
    background-color: #10141c;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding: 2rem 12%;
}

.divisor_footer{
    border: none;
    border-top: 1px solid #626262;
    margin: 0 auto;
    width: 70%;
}

.data_4{
    display: flex;
    gap: 25px;
}

.data_4 a{
    color: #b4b3b3;
    font-size: 14px;
}

.derechos p{
    color: #b4b3b3;
    text-align: center;
}

@media screen and (max-width: 540px){
    .data_4{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}